




.scroll{
  overflow-x: auto;
  overflow-y: auto;
  height: 450px;
}




.table tr{
  text-align: center;
}

.table td{
  cursor: pointer;
}


.equal{
  display: flex;
  direction: row;
}


.tools{
  position: absolute;
  right: 30px;
 
}