<div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4 ml-5">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 ml-2">Total Batches</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800 ml-2"   > 3</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4 ml-5">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1 ml-2">Savings (Annual)</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800 ml-2">$215,000</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Earnings (Monthly) Card Example -->
  
    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4 ml-5">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1 ml-2">Total Unique Employee</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800 ml-2">500</div>
            </div>
            <div class="col-auto">
              <i class="fas fa fa-users fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<br>

      <div class="col-xl-12 col-lg-7">
        <div class="card shadow mb-4 ml-4 mr-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" style="background-color: white;">
            <div class="input-box ml-5 searchbox " >
                      
            
             
              <!-- <button class="btn btn-primary ml-4">Search</button> -->
          </div>
        
            <div class="dropdown no-arrow">
              <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               
              </a>
              <div class="search_wrap search_wrap_1 mr-4">
                <div class="search_box" >
                  <input type="text" class="form-control"  [(ngModel)]="name" (change)="Search()"  placeholder="search...">
                  <div class="btn btn_common">
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <!-- <canvas id="myBarChart"></canvas> -->
              <div class="scroll"   >
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col"> S.No</th>
                      <th scope="col"> Batch Name</th>
                      <th scope="col">Time Stamp</th>
                      <th scope="col"> No of Employees </th>
                      <th scope="col">Total Cost</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let s of Details |  filter: name  ; index as i">
                      <td>{{i+1}}</td>
                      <td>{{s }}</td>
                      <td>2021/05/28 09:45:45 </td>
                      <td>50</td>
                      <td> $ 3200 </td>
                      <td style="color: blue;"><a>View Details</a></td>
                    </tr>
                    
                    
                  </tbody>
                 
                </table>
                </div>
            </div>
          </div>
        </div>
      </div>