
/* form table css */
*{
	box-sizing: border-box;
}

.table{
  width: 100%;

	border-collapse: collapse;
}

.scroll{
  overflow-x: auto;
  overflow-y: auto;
  height: 450px;
}

.table td,.table th{
	font-family: 'Noto Sans JP', sans-serif;
  padding:12px 15px;
  border:2px solid black;
  text-align: center;
  font-size:15px;
}
.tbody{
  height: 300px;
}

.table th{
	background-color:white;
	color:black;
}

.table tbody tr:nth-child(even){
	background-color: #f5f5f5;
}


.equal{
  display: flex;
  direction: row;
}


.tools{
  position: absolute;
  right: 30px;
 
}