<div class="row center">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4 ">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 ml-2">Total Batches</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800 ml-2"   > {{total_count}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4 ">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1 ml-2"> Total Savings</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800 ml-2" >{{total_Saving | currency:'USD' : 'symbol':'3.2-2'}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Earnings (Monthly) Card Example -->
  
    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4 ">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1 ml-2">Total Cost</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800 ml-2" >{{total_Cost | currency:'USD' : 'symbol':'3.2-2'}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa fa-users fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<br>

      <div class="col-md-12">
        <div class="card shadow mb-4  ">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" style="background-color: white;">
       
        
            <div class="dropdown no-arrow">
              <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               
              </a>
              <div class="search_wrap search_wrap_1 mr-4">
                <div class="search_box" >
                  <input type="text" class="form-control"  [(ngModel)]="name" (change)="Search()"  placeholder="search...">
                  
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
        
              <!-- <canvas id="myBarChart"></canvas> -->
              <div class="scroll"   >
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col"> S.No</th>
                      <th scope="col"> Batch Name</th>
                      <th scope="col">Time Stamp</th>
                      <th scope="col"> No of Employees </th>
                      <th scope="col">Total Saving</th>
                      <th scope="col">Total Cost</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let s of Details |  filter: name  ; index as i">
                      <td>{{i+1}}</td>
                      <td (click)="SendData(s.id)"  style="color: blue;">{{s.Batch_Name}}</td>
                      <td >{{s.created_at}}</td>
                      <td>{{s.employee}}</td>
                      <td>{{s.Saving | currency:'USD' : 'symbol':'3.2-2'}} </td>
                      <td>{{s.COST | currency:'USD' : 'symbol':'3.2-2'}} </td>
                      <td>
                        <!-- Call to action buttons -->
                        <ul class="list-inline m-0">
                            
                            <!-- <li class="list-inline-item">
                                <button class="btn btn-success btn-sm rounded-0"   type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-eye"></i></button>
                            </li> -->
                            <li class="list-inline-item">
                                <button class="btn btn-danger btn-sm rounded-0" 
                                 type="button" data-toggle="tooltip"
                               (click)="deleteBatch(s)"
                                  data-placement="top" title="Delete">
                                  <i class="fa fa-trash"></i>
                                </button>
                            </li>
                        </ul>
                    </td>
                    </tr>
                    
                    
                  </tbody>
                 
                </table>
               
         
          </div>
        </div>
      </div>