<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
        class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
  </div>
  <!-- Content Row -->
  <div>


    <div class="equal">
      <div class="col-xl-12 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="equal">
              <div class="input-box mt-3 ml-5 mb-4">
                <form  [formGroup]="form">
                  <span class="details"> Select Batch</span>
                  <select class="form-control"  style="width: 350px;" formControlName="id" name="id"  (change)="ShowName($event.target.value)">
                    <option value="{{Detail}}"  [selected]="Detail" *ngFor="let Detail of Details">{{Detail}}</option>
                  </select>
         </form>
         
              </div>
      
              <div class="d ml-2 mt-5">
               
                <img *ngIf="isLoad" class="ml-4" width="30px" src="../../../assets/icons8-spinner.gif" /> 
              </div>


              <div class="tools">



                <button class="btn btn-primary upload mt-2" (click)="GOtoForm()">Upload Data</button>




              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 



    <br>
    <div class="row">
      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 ml-2">Total Cost</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800 ml-2">$ {{cost}}</div>
              </div>
              <div class="col-auto">
                <!-- <i class="fas fa-calendar fa-2x text-gray-300"></i> -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-info text-uppercase mb-1 ml-2">Total Taxes</div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800 ml-3 "> $ {{tax}}</div>
                  </div>
                  <div class="col">

                  </div>
                </div>
              </div>
              <div class="col-auto">
                <!-- <i class="fas fa-clipboard-list fa-2x text-gray-300"></i> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1 ml-2">Total Markup by Staffing
                </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800 ml-2">$ {{markup}}</div>
              </div>
              <div class="col-auto">
                <!-- <i class="fas fa-comments fa-2x text-gray-300"></i> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Pending Requests Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1 ml-2">Total Saving</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800 ml-2">${{saving}}</div>
              </div>
              <div class="col-auto">
                <!-- <i class="fas fa-comments fa-2x text-gray-300"></i> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    
      <!-- Content Column -->



      <div class="row">
        <div class="col-md-6 col-lg- 4">
          <div class="card card-primary card-tabs">
            <div class="card-header p-0 pt-1">
              <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                <h6 class="mt-3 ml-1">Top 10 Employee with</h6>
                <li class="nav-item ml-3">
                  <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">Highest Savings</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">Lowest Savings</a>
                </li>
             
              </ul>
            </div>
            <div class="card-body">
              <div class="tab-content" id="custom-tabs-one-tabContent">
                <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                   
                 
                    <!-- Project Card Example -->
                    <div class="card shadow mb-4">
                     
                      <div class="card-body">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th scope="col">Rank</th>
                              <th scope="col">Name</th>
                              <th scope="col">Savings</th>
                          
                             
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let d of TotalSaving  index as i" >
                              <th scope="row">{{i+1}}</th>
                              <td (click)="sendData(d)" style="color: blue;">{{d.Worker_Name}}</td>
                              <td> ${{d.Saving}}</td>
                             
                            </tr>
                          
                          
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <!-- Color System -->
            
                 
      
      
                </div>
                <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
                
             
                    <!-- Illustrations -->
                    <div class="card shadow mb-4">
                     
                      <div class="card-body">
                        <table class="table table-hover">
                          <thead>
                            <tr >
                              <th scope="col">Rank</th>
                              <th scope="col">Name</th>
                              <th scope="col">Savings</th>
                            
                             
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let l of ss  index as i">
                              <th scope="row">{{i+1}}</th>
                            <td (click)="sendData1(l)" style="color: blue;">{{l.Worker_Name}}</td>
                              <td>$ {{l.Saving}}</td>
                             
                            </tr>
                          
                          
                          </tbody>
                        </table>
                      </div>
                      <!-- Approach -->
            
            
                   
                  </div>
      
      
                </div>
              
              </div>
            </div>
      </div>
      </div>
     
      
      
      
     
        <div class="col-md-6 col-lg- 4">
          <div class="card card-primary card-tabs">
            <div class="card-header p-0 pt-1">
              <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                <h6 class="mt-3 ml-1">Top 10 Employee with</h6>
                <li class="nav-item ml-3">
                  <a class="nav-link active" id="custom-tabs-one-tab" data-toggle="pill" href="#custom-tabs-one" role="tab" aria-controls="custom-tabs-one" aria-selected="true">Highest costs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="custom-tabs-profile-tab" data-toggle="pill" href="#custom-tabs-profile" role="tab" aria-controls="custom-tabs-profile" aria-selected="false">Lowest Costs</a>
                </li>
             
              </ul>
            </div>
            <div class="card-body">
              <div class="tab-content" id="custom-tabs-one-tabContent">
                <div class="tab-pane fade show active" id="custom-tabs-one" role="tabpanel" aria-labelledby="custom-tabs-one-tab">
                   
                 
                    <!-- Project Card Example -->
                    <div class="card shadow mb-4">
                     
                      <div class="card-body">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th scope="col">Rank</th>
                              <th scope="col">Name</th>
                              <th scope="col">Costs</th>
                          
                             
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let d of tCost  index as i" >
                              <th scope="row">{{i+1}}</th>
                              <td (click)="sendData1(d)" style="color: blue;">{{d.Worker_Name}}</td>
                              <td> ${{d.Total_COST}}</td>
                             
                            </tr>
                          
                          
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <!-- Color System -->
            
                 
      
      
                </div>
                <div class="tab-pane fade" id="custom-tabs-profile" role="tabpanel" aria-labelledby="custom-tabs-profile-tab">
                
             
                    <!-- Illustrations -->
                    <div class="card shadow mb-4">
                      
                      <div class="card-body">
                        <table class="table table-hover">
                          <thead>
                            <tr >
                              <th scope="col">Rank</th>
                              <th scope="col">Name</th>
                              <th scope="col">Costs</th>
                            
                             
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let l of lCost  index as i">
                              <th scope="row">{{i+1}}</th>
                              <td (click)="sendData1(l)" style="color: blue;">{{l.Worker_Name}}</td>
                              <td>$ {{l.Total_COST}}</td>
                             
                            </tr>
                          
                          
                          </tbody>
                        </table>
                      </div>
                      <!-- Approach -->
            
            
                    </div>
      
      
                </div>
              
              </div>
            </div>
      </div>
      </div>
     

    </div>

<br>
    <!-- Content Row -->
    <div class="row">
      <!-- Area Chart -->
      <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Tax Details</h6>
            <div class="dropdown no-arrow">
              <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
               
              </a>
             
            </div>
          </div>
          <!-- Card Body -->
        
          <div class="card-body">
            <div class="chart-area">
              <!-- <canvas id="myBarChart"></canvas> -->
              <canvas id="myChart" height="100px"></canvas>
            </div>
         
          </div>  
        
        </div>
      </div>
      <!-- Pie Chart -->
      <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Working Time Hour </h6>
            <div class="dropdown no-arrow">
              <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Dropdown Header:</div>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <div class="chart-pie pt-4 pb-2">
              <canvas id="Chart" height="200px"></canvas>
            </div>
            <div class="mt-4 text-center small">
              <span></span>
              <br>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Content Row -->
    <div class="row">
      <!-- Content Column -->
      <div class="col-lg-6 mb-4">
        <!-- Project Card Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Bubble Chart</h6>
          </div>
          <div class="card-body">
            <canvas id="Bubble"></canvas>
          </div>
        </div>
        <!-- Color System -->

      </div>
      <div class="col-lg-6 mb-4">
        <!-- Illustrations -->
        <div class="" style="overflow-x: auto;">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Savings Details</h6>
          </div>
          <div class="card-body">
            <canvas id="yyy"></canvas>
          </div>
          <!-- Approach -->


        </div></div>
      </div>
    </div>


    <div class="row">
      <!-- Content Column -->
      
      <div class="col-lg-6 mb-4">
        <!-- Illustrations -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Scatter Chart Details</h6>
          </div>
          <div class="card-body">
            <canvas id="scatter"></canvas>
          </div>
          <!-- Approach -->


        </div>
      </div>


      <div class="col-lg-6 mb-4">
        <!-- Illustrations -->
        <div class="" style="overflow-x: auto;">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Costs Details</h6>
          </div>
          <div class="card-body">
            <canvas id="secondHisto"></canvas>
          </div>
          <!-- Approach -->


        </div></div>
      </div>
    </div>
  </div>
</div>






