.equal{
    display: flex;
    flex-direction: row;
}


.space{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tools{
    position: absolute;
    right: 50px;
   
  }

  .upload{
      width: 200px;
      height: 70px;
  }

  table td{
      
      cursor: pointer;
  }

  .table tr{
    text-align: center;
  }
  
  .drop{
      width: 270px;
  }

  @media (max-width: 590px) {

    .drop {
        width: 170px;
    }
    .tools {
    
      flex-direction: column;
    }
  }