

.equal{
    display: flex;
    direction: row;
}


.tools{
    position: absolute;
    right: 50px;
   
  }


  .scroll{
    overflow-x: auto;
    overflow-y: auto;
   height: 500px;
  }

table .th{
    font-weight: 300;
    
}

  









.table tr{
    text-align: center;
  }






.csv-file-chooser-section {
  padding: 10px;
  margin: 5%;
  border: 1px solid;
  text-align: center;
}

.csv-result-table {
  margin: 5%;
  border: 1px solid #73AD21;

}

.drop{
  width: 250px;
}

@media screen and (max-width: 580px) {
.drop{
  width: 180px;
  margin-left: -10px;
}
}
