<div class="row">
    <h1 class="h3 mb-0 text-gray-800 ml-4">Employee List</h1>

  </div>
<br>





<div class="col-xl-12 col-lg-7">
  <div class="card shadow  mb-4 ml-4 mr-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" style="background-color: white;">
      <div class="input-box ml-5 searchbox " >
        <form  [formGroup]="form">    
          <div class="equal">
        <select  class="form-control " formControlName="value" name="value"   (ngModelChange)="SendName($event)"   style="width: 250px;"  >
                     <option disabled  value="" >--- SELECT BATCH --- </option>
                    
          <option value="{{value.Batch_Name}}"   *ngFor = "let value of Details">{{value.Batch_Name}} </option>
        </select>
        <img *ngIf="isLoad" class="ml-4" style="width : 30px" src="../../../assets/icons8-spinner.gif" />
        <!-- <button class="btn btn-primary ml-4">Search</button> -->
          </div>
        </form>
    </div>
  
     
        
        <div class="search_wrap search_wrap_1 mr-4 mt-3">
          <div class="search_box" >
            <input type="text" class="form-control"  [(ngModel)]="name" (change)="Search()"  placeholder="Search">
            <div class="btn btn_common">
              
           
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      
     
        <!-- <canvas id="myBarChart"></canvas> -->
        <div class="scroll"   >
          <table class="table">
              <thead >
                <tr>
                  <th >S.No</th>
                 
                  <th  >Worker  Id</th>
                  <th >Worker Title</th>
                  <th >Worker Name</th>
                  <th >Worker Manager</th>
                  <th >Worker Location</th>
                  <th >Worker Department</th>
                  <th >Comp Code</th>
                  <th >Worker Agency</th>
                  <th >Work City</th>
                  <th >Work State</th>
                  <th >Work Zip</th>
                </tr>
              </thead>
              <tbody  >
                <tr *ngFor = " let list of SearchDetails | filter:name  index as i ">
                  <td> {{i+1}}</td>
                 
                  <td (click)="DetailsPage(list)" style="color: blue;" >{{list.Worker_Unique_Id}}</td>
                  <td >{{list.Worker_Title}}</td>
                  <td >{{list.Worker_Name}}</td>
                  <td >{{list.Worker_Manager}}</td>
                  <td >{{list.Worker_Location}}</td>
                  <td >{{list.Worker_Department}}</td>
                  <td >{{list.Worker_Comp_Code}}</td>
                  <td >{{list.Worker_Agency}}</td>
                  <td >{{list.Work_City}}</td>
                  <td >{{list.Work_State}}</td>
                  <td >{{list.Work_Zip}}</td>
               
          
                </tr>
           
              </tbody>
            </table>
         
      </div>


      
    </div>
  </div>
</div>
















    


  




      