


<div class="container" >

    <div class="pricing-table">
        <div class="icon type-01">
            <span class="fa fa-file"></span>
        </div>
        <h3 class="heading">upload Data </h3>
        <h1 class="service-price">
           
        </h1>
        
        <ul class="features-list">
        
        
        </ul>
        
        <button class="order-button" (click)="clickMe()">
         Step 1
        </button>
 

    </div>
    
    <div class="pricing-table">
        <div class="icon type-02">
            <span class="fa fa-table" ></span>
        </div>
        <h3 class="heading">Normalize Data</h3>
        <h1 class="service-price">
        
        </h1>
        
        <ul class="features-list">
   
       
        </ul>
        
        <button class="order-button" (click)="clickMe2()" >
            Step 2
        </button>
 
    </div>
    
    <div class="pricing-table">
        <div class="icon type-03">
            <span class="fa fa-edit"></span>
        </div>
        <h3 class="heading">Condition</h3>
        <h1 class="service-price">
          
        </h1>
        
        <ul class="features-list">
   
       
        </ul>
        
        <button class="order-button">
           Step 3
        </button>
 
    </div>
    

</div>

