<br>
<br>
<div class="row mt-5 ml-5">
    <h1 class="h4 mb-0 text-gray-800 ml-5">Uploads</h1>
   

  </div>

<div class="container ml-5" >

    <div class="pricing-table">
        <div class="icon type-01">
            <span class="fa fa-file"></span>
        </div>
        <h3 class="heading">upload Data </h3>
        <h1 class="service-price">
           
        </h1>
        
        <ul class="features-list">
        
        
        </ul>
        
        <button class="order-button" (click)="clickMe()">
         Step 1
        </button>
 

    </div>
    
    <div class="pricing-table">
        <div class="icon type-02">
            <span class="fa fa-table" ></span>
        </div>
        <h3 class="heading">Normalize Data</h3>
        <h1 class="service-price">
        
        </h1>
        
        <ul class="features-list">
   
       
        </ul>
        
        <button class="order-button" (click)="clickMe2()" >
            Step 2
        </button>
 
    </div>
    
    <div class="pricing-table">
        <div class="icon type-03">
            <span class="fa fa-edit"></span>
        </div>
        <h3 class="heading">Condition</h3>
        <h1 class="service-price">
          
        </h1>
        
        <ul class="features-list">
   
       
        </ul>
        
        <button class="order-button">
           Step 3
        </button>
 
    </div>
    

</div>


<!-- <button type="button" data-toggle="modal" 
data-target=".bd-example-modal-lg" class="btn btn-primary">Add </button> -->

<!-- <div class="modal fade bd-example-modal-lg " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add User</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    
        <div class="container">

       
          <div class="content">
     
           
          </div>
        </div>


      
    </div>
  </div>

</div> -->




