<!-- 
<div class="equal1">
  <h3 class="ml-3">{{userObj.Worker_Name}}</h3>
  <h3 class="ml-5">
   {{userObj.Worker_Unique_Id}}
  </h3>
</div> -->


<div class="row">
  <!-- Content Column -->
  <div class="col-lg-3 mb-4">
    <!-- Project Card Example -->
    <div class="card shadow mb-4">
      <!-- <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Details</h6>
      </div> -->
      <div class="card-body">
        <div class="user-details">

          <div class="col-xl-12 col-md-6 mb-4">
            <div class="card border-left shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold  text-uppercase mb-1 ml-2"></div>
                    <div class="row no-gutters align-items-center">
                      <div class="col-auto">
                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800 ml-3 ">{{userObj.Worker_Name}} </div>
                      </div>
                      <div class="col">
      
                      </div>
                    </div>
                  </div>
                  <div class="col-auto">
                    <!-- <i class="fas fa-clipboard-list fa-2x text-gray-300"></i> -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="input-box">
            <span class="details"> Worker Unique Id</span>
           <br>
            <label style="color:black; font-size: 21px;" >{{userObj.Worker_Unique_Id}} </label>
          </div>
          <hr>

          <div class="input-box">
            <span class="details">Worker Title</span>
           <br>
            <label style="color:black; font-size: 21px;" >{{userObj.Worker_Title}} </label>
          
          </div>

<hr>
          <div class="input-box">
            <span class="details"> Worker Manager</span>
            <br>
            <label style="color:black; font-size: 21px;">{{userObj.Worker_Manager}} </label>
        
          </div>
<hr>

          <div class="input-box">
            <span class="details"> Worker Location</span>
            <br>
            <label style="color:black; font-size: 21px;" >{{userObj.Worker_Unique_Id}} </label>
          </div>
<hr>
          <div class="input-box">
            <span class="details"> Worker Department</span>
           <br>
            <label style="color:black; font-size: 21px;" >{{userObj.Worker_Location}} </label>
          </div>
 <hr>
          <div class="input-box">
            <span class="details"> Company Code</span>
            <br>
            <label style="color:black; font-size: 21px;"  >{{userObj.Worker_Department}} </label>
          </div>
<hr>
          <div class="input-box">
            <span class="details"> Worker_Department</span>
           <br>
            <label style="color:black; font-size: 21px;" >{{userObj.Worker_Comp_Code}} </label>
            
          </div>
<hr>
          <div class="input-box">
            <span class="details"> Worker_Department</span>
            <br>
            <label style="color:black; font-size: 21px;" >{{userObj.Worker_Agency}} </label>
          </div>
<hr>
        
        </div>
        
      </div>
    </div>
    <!-- Color System -->

  </div>
 
 
  <div class="col-lg-9 mb-4">
    <!-- Project Card Example -->
    <div class="card shadow mb-4">
    
      <div class="card-body">
      
        <div class="equal">
          <div class="input-box  searchbox " >
            <select  class="form-control "     style="width: 240px;"  >
              <option disabled selected>----SELECT---- </option>
          
            </select>
        </div>

        <div class="input-box  searchbox " >
          <select  class="form-control "    style="width: 240px;"  >
            <option disabled selected>----SELECT---- </option>
        
          </select>
        </div>

      <div class="input-box  searchbox " >
        <select  class="form-control "     style="width: 240px;"  >
          <option disabled selected>----SELECT---- </option>
      
        </select>
      </div>
        </div>
        


      </div>
    </div>
    <br>
    <!-- Color System -->
<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1 ml-2">Total Tax</div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800 ml-3 ">$ 300000 </div>
                </div>
                <div class="col">

                </div>
              </div>
            </div>
            <div class="col-auto">
              <!-- <i class="fas fa-clipboard-list fa-2x text-gray-300"></i> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 ml-2"> Total Markup</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800 ml-2">$ 100000</div>
            </div>
            <div class="col-auto">
              <!-- <i class="fas fa-calendar fa-2x text-gray-300"></i> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 ml-2">Total Saving</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800 ml-2">$ 330000</div>
            </div>
            <div class="col-auto">
              <!-- <i class="fas fa-calendar fa-2x text-gray-300"></i> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 ml-2"> Total Cost</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800 ml-2">$ 555550</div>
            </div>
            <div class="col-auto">
              <!-- <i class="fas fa-calendar fa-2x text-gray-300"></i> -->
            </div>
          </div>
        </div>
      </div>
    </div>

   <!-- equal end -->
</div>
<br>

<div class="row">
 <div class="col-xl-5 col-lg-5">
  <div class="card shadow mb-4">
   
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary"> Chart Details</h6>
      <div class="dropdown no-arrow">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
          aria-labelledby="dropdownMenuLink">
          <div class="dropdown-header">Dropdown Header:</div>
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
   
    <div class="card-body">
      <div class="chart-pie pt-4 pb-2">
        <canvas id="Chart"></canvas>
      </div>
      <div class="mt-4 text-center small">
        <span></span>
        <br>

      </div>
    </div>
  </div>
</div> 


<div class="col-xl-5 col-lg-5">
  <div class="card shadow mb-4">
   
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary"> line Chart Details</h6>
      <div class="dropdown no-arrow">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
          aria-labelledby="dropdownMenuLink">
          <div class="dropdown-header">Dropdown Header:</div>
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
   
    <div class="card-body">
      <div class="chart-pie pt-4 pb-2">
        <canvas id="Chart"></canvas>
      </div>
      <div class="mt-4 text-center small">
        <span></span>
        <br>

      </div>
    </div>
  </div>
</div> 
</div>

 <!-- end -->
</div>

 


 



