<!-- 
<div class="equal1">
  <h3 class="ml-3">{{userObj.Worker_Name}}</h3>
  <h3 class="ml-5">
   {{userObj.Worker_Unique_Id}}
  </h3>
</div> -->


<div class="row">
  <!-- Content Column -->
  <div class="col-lg-3 mb-4">
    <!-- Project Card Example -->
    <div class="card shadow mb-4">
      <!-- <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Details</h6>
      </div> -->
      <div class="card-body">
        <div class="user-details">

        <h3>{{userObj.Worker_Name}}</h3> 
<hr>
          <div class="input-box">
            <span class="details"> Worker Unique Id</span>
           <br>
            <label style="color:black; font-size: 21px;" >{{userObj.Worker_Unique_Id}} </label>
          </div>
          <hr>

          <div class="input-box">
            <span class="details">Worker Title</span>
           <br>
            <label style="color:black; font-size: 21px;" >{{userObj.Worker_Title}} </label>
          
          </div>

<hr>
          <div class="input-box">
            <span class="details"> Worker Manager</span>
            <br>
            <label style="color:black; font-size: 21px;">{{userObj.Worker_Manager}} </label>
        
          </div>
<hr>
<div class="input-box">
  <span class="details"> Worker States</span>
  <br>
  
  <div class="btn-group">
    <select name="state_name" class="form-control "  style="width: 270px;" [(ngModel)]="userObj.Work_State"    >
     
      <option value="{{value.States}}" *ngFor = "let value of Details">{{value.States}} </option>
      
  
    </select>
   
  </div>
</div>
<hr>

          <div class="input-box">
            <span class="details"> Worker Location</span>
            <br>
            <label style="color:black; font-size: 21px;" >{{userObj.Worker_Unique_Id}} </label>
          </div>
<hr>
          <div class="input-box">
            <span class="details"> Worker Department</span>
           <br>
            <label style="color:black; font-size: 21px;" >{{userObj.Worker_Location}} </label>
          </div>
 <hr>
          <div class="input-box">
            <span class="details"> Company Code</span>
            <br>
            <label style="color:black; font-size: 21px;"  >{{userObj.Worker_Department}} </label>
          </div>
<hr>
          <div class="input-box">
            <span class="details"> Worker_Department</span>
           <br>
            <label style="color:black; font-size: 21px;" >{{userObj.Worker_Comp_Code}} </label>
            
          </div>
<hr>
          <div class="input-box">
            <span class="details"> Worker_Department</span>
            <br>
            <label style="color:black; font-size: 21px;" >{{userObj.Worker_Agency}} </label>
          </div>
<hr>
        
        </div>
        
      </div>
    </div>
    <!-- Color System -->

  </div>
 
 
  <div class="col-lg-9 mb-4">
   
   <!-- <div class="card shadow mb-4">
    
      <div class="card-body">
      
     


      </div>
    </div> 
     -->
    <!-- Color System -->
<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1 ml-2">Total Tax</div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h5 mb-0 font-weight-bold text-gray-800 ml-4"> ${{userObj.Total_TAX}}</div>
                  <div class="more-post-optns" style="margin-left: 180px; margin-top: 1;"> 
                   
                    <i class="fas fa-fw fa-dot-circle"></i>
                  <ul style="width: 300px;">
                    <li class="font-weight-bold" style="font-size: 17px;">FUI Tax -{{userObj.FUI_TAX}} </li>
                    <li class="font-weight-bold" style="font-size: 17px;">SUI Tax -{{userObj.SUI_TAX}}</li>
                    <li class="font-weight-bold" style="font-size: 17px;">Sales_TAX -{{userObj.Sales_TAX}}</li>
                    <li class="font-weight-bold" style="font-size: 17px;">FICA_TAX - {{userObj.FICA_TAX}}</li>
                    <li class="font-weight-bold" style="font-size: 17px;">FEE_TAX- {{userObj.FEE_TAX}}</li>
                    <li class="font-weight-bold" style="font-size: 17px;">EPLI_TAX - {{userObj.EPLI_TAX}}</li>
                    <li class="font-weight-bold" style="font-size: 17px;">Delivery_TAX - {{userObj.Delivery_TAX}}</li>
                    <li class="font-weight-bold" style="font-size: 17px;">Time_Range - {{userObj.Project_End}}</li>
                  </ul>
                </div>
                </div>
                <div class="col">

                </div>
              </div>
            </div>
            <div class="col-auto">
              <!-- <i class="fas fa-clipboard-list fa-2x text-gray-300"></i> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 ml-2">Markup</div>
              <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800 ml-2 ">${{userObj.Markup}}  </div>
             
            </div>
            <div class="col-auto">
              <!-- <i class="fas fa-calendar fa-2x text-gray-300"></i> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 ml-2"> Saving</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800 ml-2">${{userObj.Saving}}  </div>
            </div>
            <div class="col-auto">
              <!-- <i class="fas fa-calendar fa-2x text-gray-300"></i> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 ml-2">Cost</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800 ml-2">${{userObj.Total_COST}} </div>
            </div>
            <div class="col-auto">
              <!-- <i class="fas fa-calendar fa-2x text-gray-300"></i> -->
            </div>
          </div>
        </div>
      </div>
    </div>

   <!-- equal end -->
</div>
<br>

<div class="row">
 <div class="col-xl-5 col-lg-5">
  <div class="card shadow mb-4">
   
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary"> Chart Details</h6>
      <div class="dropdown no-arrow">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
          aria-labelledby="dropdownMenuLink">
          <div class="dropdown-header">Dropdown Header:</div>
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
   
    <div class="card-body">
      <div class="chart-pie pt-4 pb-2">
        <canvas id="Chart"></canvas>
      </div>
      <div class="mt-4 text-center small">
        <span></span>
        <br>

      </div>
    </div>
  </div>
</div> 


<div class="col-xl-6 col-lg-5">
  <div class="card shadow mb-4">
   
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary"> Bar Chart Details</h6>
      <div class="dropdown no-arrow">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
          aria-labelledby="dropdownMenuLink">
          <div class="dropdown-header">Dropdown Header:</div>
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
   
    <div class="card-body">
      <div class="chart-pie pt-4 pb-2">
        <canvas id="myChart" ></canvas>
      </div>
      <div class="mt-4 text-center small">
        <span></span>
        <br>

      </div>
    </div>
  </div>
</div> 


<div class="col-xl-8 col-lg-7">
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary"> Bar Chart Details</h6>
      <div class="dropdown no-arrow">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
         
        </a>
       
      </div>
    </div>
    <!-- Card Body -->
  
    <div class="card-body">
      <div class="chart-area">
        <!-- <canvas id="myBarChart"></canvas> -->
        <canvas id="myChart" height="100px"></canvas>
      </div>
   
    </div>  
  
  </div>
</div>
</div>

 <!-- end -->
</div>

 


 



