<div class="content ">
    <br>
<div class="center "   >
 

        <img src="../../assets/img/yyy.png" class="" style="width: 200px; height: 50px;">
       
  
    
   
</div>
<div class="center">
    <h4><strong> Workforce Management Solutions </strong></h4>
</div>
  
<br>

<div class="container " id="container" >
    <div class="form-container sign-up-container">
    
    <form action="">
        <h1>Create Account</h1>
        <div class="social-container">
            <a href="#" class="social"><i class="fa fa-facebook"></i></a>
            <a href="#" class="social"><i class="fa fa-google"></i></a>
            <a href="#" class="social"><i class="fa fa-linkedin"></i></a>
        </div>
        <span>or use your email for registration</span>
        <input type="text" name="name" placeholder="Name">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <button>SignUp</button>
    </form>
    </div>
    <div class="form-container sign-in-container">
        <form [formGroup]="form"><br>
            <!-- <img src="../../assets/shoofly.png" class="mt-4 " style="width: 200px;"> -->
            <h1 >Sign In</h1>
            <div class="social-container">
              
            <!-- <a href="#" class="social"><i class="fa fa-facebook"></i></a>
            <a href="#" class="social"><i class="fa fa-google"></i></a>
            <a href="#" class="social"><i class="fa fa-linkedin"></i></a> -->
        </div>
        
        <input type="email" formControlName="email" name="email"  placeholder="Email"  required [ngClass]="
        { 'is-invalid': form.get('email').touched && form.get('email').invalid}">
        <div *ngIf="form.get('email').touched && form.get('email').invalid" class="invalid-feedback">
            <div *ngIf="form.get('email').errors.required" style="font-size: 13px;"> Email is required</div>
            <div *ngIf="form.get('email').errors.pattern" style="font-size: 13px;"> Invalid Email</div>
          </div>
       
        <input type="password" formControlName="password" name="password" placeholder="Password" required [ngClass]="
        { 'is-invalid': form.get('password').touched && form.get('password').invalid}">
        <div *ngIf="form.get('password').touched && form.get('password').invalid" class="invalid-feedback">
            <div *ngIf="form.get('password').errors.required" style="font-size: 13px;"> Password is required</div>
         
            <div *ngIf="form.get('password').errors.minlength" style="font-size: 13px;"> Minimum 8 Character Required</div>
          
          </div>
    
        <button [disabled]="form.invalid && isLoading" (click)="onSubmit()">  <img  class="ml-3" style="width : 24px;"  *ngIf="isLoading"  src="../../assets/images/Rolling-1s-200px.gif" /> Sign In</button><br>
        <a style="color: blue; cursor: pointer;" routerLink="forget">Forgot Your Password</a>
       <p>Don't have an Account ?<a routerLink="signUp" style="color:blue; cursor: pointer;"> Register</a></p>
       <span><a routerLink="Alogin"  style="color:blue; cursor: pointer;"> Admin Login</a></span>
        </form>
    </div>
    <div class="overlay-container">
      
        <div class="overlay">
            <img src="../../assets/img/logo6.png" style="width: 500px; height: 500px; margin-left: 420px;" >
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
              
                <button class="ghost" id="signIn">Sign In
                    <img  class="ml-3" style="width : 24px;"  src="../../../assets/icons8-spinner.gif" />

            </button>
        
            </div>
            <div class="overlay-panel overlay-right">
             
              
                <!-- <button class="ghost" id="signUp">Sign Up</button> -->
               
            </div>
        </div>
    </div>
    </div>


  
   
</div>
