<!-- Modal -info -->
<div class="container">
    <div id="modal-3" class="modal" data-modal-effect="slide-top">
        <div class="modal-content">
            <h2 class="fs-title">Score Index</h2>
            <h3 class="fs-subtitle">Getting the most out of your data</h3>

            <input type="button" name="next" class="next action-button modal-close" value="Got it!">
        </div>
    </div>
</div>

<form class="steps" [formGroup]="form" accept-charset="UTF-8" enctype="multipart/form-data" novalidate="">


    <!-- <div class="progress ">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0"
            aria-valuemax="100"></div>
    </div> <br> -->

    <!-- USER INFORMATION FIELD SET -->
    <fieldset *ngIf="step == 1">

        <h2 class="fs-title">Basic Information</h2>
        

        
        <!-- Begin What's Your First Name Field -->
        <div class="hs_firstname field hs-form-field">
    <div class="user-details">

            <div class="input-box">
                <!-- <span class="details">* Batch Name</span> -->
                <input type="text" placeholder="Batch Name "  required name="batch_name" 
                  formControlName="batch_name" [ngClass]="
                  { 'is-invalid': form.get('batch_name').touched && form.get('batch_name').invalid}" >
                  <div class="invalid-feedback">
                    <div style="font-size: 13px;"> This field is required</div>
                  </div>
               
              </div>
              <div class="input-box">
                <!-- <span class="details">Remarks</span> -->

                <input type="text" placeholder="SUI Rate"  required name="sui_rate"
                  formControlName="sui_rate" [ngClass]="
                  { 'is-invalid': form.get('sui_rate').touched && form.get('sui_rate').invalid}">
                  <div class="invalid-feedback">
                    <div style="font-size: 13px;"> This field is required</div>
                  </div>
               

  

              </div>
            </div>
            <!-- <label>Upload File? *</label> -->

         <ngx-dropzone (change)="onSelect($event)">
             <!-- <label style="margin-left: 400px;" > Drag and Drop! or Upload File? *</label> -->
                <ngx-dropzone-label>Drag and Drop!</ngx-dropzone-label>
                <ngx-dropzone-preview *ngFor="let f of filess" [removable]="true" [multiple]="false" 
                    (removed)="onRemove(f)" accept="image/csv">
                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                </ngx-dropzone-preview>
            </ngx-dropzone> 

            <!-- <input name="file" required id='#table' type="file"  value=""
                placeholder="" (change)="changeListener($event.target.files)" data-rule-required="true"
                data-msg-required="Please include your first name">
            <span class="error1" style="display: none;">
                <i class="error-log fa fa-exclamation-triangle"></i>
            </span> -->
        </div>

        <!-- End What's Your First Name Field -->


              <div class="progress form-group mt-2"  >
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
                </div>
            </div>

    
        <div class="scroll"  *ngIf="lines.length > 0" >
            <table class=" table thead-light table-bordered table-striped mt-4" >
                <thead>
                    <tr>
                        <th *ngFor="let item of lines[0]; let i = index">{{item}}</th>
                    </tr>
                </thead>
                <tbody class="tbody">

                    <tr *ngFor="let item of linesR[0]; let i = index">
                        <td *ngFor="let itemm of lines[0]; let j = index">{{item[j]}}</td>

                    </tr>

                </tbody>
            </table>
       </div>


       
        <!-- End Total Number of Constituents in Your Database Field --><br>

        <!-- <input type="button" data-page="1" name="next" class="next action-button  " *ngIf="reset" style="margin-left: 10px;"  (click)="clickMe()" value="Reset" /> -->
        <input type="button" data-page="1" name="next" class="next action-button "  (click)="next()" value="Next" />
        <div class="explanation btn btn-small modal-trigger" data-modal-id="modal-3"><i
                class="question-log fa fa-question-circle"> </i><a href="../../../assets/sample/sample.csv"
                style="font-size: 19px;">Download Sample File </a> </div>

    </fieldset>



    <!-- ACQUISITION FIELD SET -->
    <fieldset *ngIf="step == 2">

        <h2 class="fs-title">Data Import Field Match</h2>
        <div class="content" >
        <p style="font-size: 16px; color: black; text-align: left;" ><b>Required Field</b></p>
       <p class="ff" style="font-size: 16px; color: black; margin-left: 870px;" ><b>Your Field</b></p>
        </div>
        <div style="overflow-y:auto;">
            <div class="user-details" style="height: 460px;">



                <div class="input-box">
                   
                    <input type="text" style="color: black;" formControlName="Worker_Unique_Id"  disabled name="name">
                  
                </div>


                <!-- imported from csv -->

                <div class="input-box">
                   
                    <select name="id" class="form-control" formControlName="id" (ngModelChange)="CalledNew($event,'Worker_Unique_Id')"  style="width: 100%;" required [ngClass]="
                    { 'is-invalid': form.get('id').touched && form.get('id').invalid}" >
                        <option value="">----SELECT----</option>
                        <option value="{{item}} " *ngFor="let item of header">{{item}}</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="form.get('id').touched && form.get('id').invalid">
                        <div *ngIf="form.get('id').errors.required" style="font-size: 15px;"> This field is required
                        </div>
                    </div>
                </div>

                <div class="input-box">

                    <input type="text" style="color: black;" formControlName="Worker_Name"  disabled name="name">
                    <div class="invalid-feedback">
                        <div> This field is required</div>
                    </div>
                </div>

                <!-- imported from csv -->
                <div class="input-box">

                    <select class="form-control" formControlName="Name" name="Name"  (ngModelChange)="CalledNew($event,'Worker_Name')"  style="width: 100%;" required [ngClass]="
                    { 'is-invalid': form.get('Name').touched && form.get('Name').invalid}" 
                        >
                        <option value="">----SELECT----</option>
                        <option value="{{item}}" *ngFor="let item of header">{{item}}</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="form.get('Name').touched && form.get('Name').invalid">
                        <div *ngIf="form.get('Name').errors.required" style="font-size: 15px;"> This field is required
                        </div>
                   
                    </div>
                </div>



                <div class="input-box">

                    <input type="text" style="color: black;" formControlName="Worker_Title" disabled
                        name="Worker_Title">
                </div>

                <!-- imported from csv -->
                <div class="input-box">

                    <select class="form-control" formControlName="Title" name="Title"  (ngModelChange)="CalledNew($event,'Worker_Title')"  style="width: 100%;" [ngClass]="
                    { 'is-invalid': form.get('Title').touched && form.get('Title').invalid}" required
                       >
                       <option value="">----SELECT----</option>
                        <option value="{{item}}" *ngFor="let item of header">{{item}}</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="form.get('Title').touched && form.get('Title').invalid">
                        <div *ngIf="form.get('Title').errors.required" style="font-size: 15px;"> This field is required
                        </div>
                  
                    </div>
                </div>



                <div class="input-box">

                    <input type="text" formControlName="Worker_Manager"  style="color: black; " disabled
                        name="Worker_Manager">

                </div>



                <!-- imported from csv -->
                <div class="input-box">

                    <select name="Product code" class="form-control" formControlName="Manager" (ngModelChange)="CalledNew($event,'Worker_Manager')"  name="Manager" required
                        style="width: 100%;" [ngClass]="
                    { 'is-invalid': form.get('Manager').touched && form.get('Manager').invalid}"
                       >
                       <option value="">----SELECT----</option>

                        <option value="{{item}}" *ngFor="let item of header">{{item}}</option>


                    </select>
                    <div class="invalid-feedback" *ngIf="form.get('Manager').touched && form.get('Manager').invalid">
                        <div *ngIf="form.get('Manager').errors.required" style="font-size: 15px;"> This field is
                            required
                        </div>
                     
                    </div>
                </div>





                <div class="input-box">

                    <input type="text" style="color: black;" formControlName="Worker_Department" disabled
                        name="Worker_Department">

                </div>


                <!-- imported from csv -->
                <div class="input-box">

                    <select class="form-control" formControlName="Department" name="Department" required  (ngModelChange)="CalledNew($event,'Worker_Department')" 
                        style="width: 100%;" [ngClass]="
                    { 'is-invalid': form.get('Department').touched && form.get('Department').invalid}"
                        >

                        <option value="">----SELECT----</option>
                        <option value="{{item}}" *ngFor="let item of header">{{item}}</option>

                    </select>
                    <div class="invalid-feedback"
                        *ngIf="form.get('Department').touched && form.get('Department').invalid">
                        <div *ngIf="form.get('Department').errors.required" style="font-size: 15px;"> This field is
                            required
                        </div>
                     
                    </div>
                </div>


                <div class="input-box">

                    <input type="text" style="color: black;" formControlName="Worker_Location"  disabled  
                        name="Worker_Location">
                    <div class="invalid-feedback">
                        <div> This field is required</div>
                    </div>
                </div>


                <!-- imported from csv -->
                <div class="input-box">

                    <select name="Product code" class="form-control" formControlName="Location" name="Location" required  (ngModelChange)="CalledNew($event,'Worker_Location')"
                        style="width: 100%;" [ngClass]="
                    { 'is-invalid': form.get('Location').touched && form.get('Location').invalid}"
                      >
                      <option value="">----SELECT----</option>
                        <option value="{{item}}" *ngFor="let item of header">{{item}}</option>



                    </select>
                    <div class="invalid-feedback" *ngIf="form.get('Location').touched && form.get('Location').invalid">
                        <div *ngIf="form.get('Location').errors.required" style="font-size: 15px;"> This field is
                            required
                        </div>
                     
                    </div>
                </div>


                <div class="input-box">

                    <input type="text" style="color: black;" formControlName="Work_City"  disabled
                        name="Work_City">
                    <div class="invalid-feedback">
                        <div> This field is required</div>
                    </div>
                </div>


                <!-- imported from csv -->
                <div class="input-box">

                    <select name="Product code" class="form-control" formControlName="City" name="City" required (ngModelChange)="CalledNew($event,'Work_City')"
                        style="width: 100%;" [ngClass]="
                    { 'is-invalid': form.get('City').touched && form.get('City').invalid}"
                      >
                      <option value="">----SELECT----</option>
                        <option value="{{item}}" *ngFor="let item of header">{{item}}</option>



                    </select>
                    <div class="invalid-feedback" *ngIf="form.get('City').touched && form.get('City').invalid">
                        <div *ngIf="form.get('City').errors.required" style="font-size: 15px;"> This field is
                            required
                        </div>
                     
                    </div>
                </div>



                <div class="input-box">

                    <input type="text" style="color: black;" formControlName="Work_State"  disabled
                        name="Work_State">
                    <div class="invalid-feedback">
                        <div> This field is required</div>
                    </div>
                </div>


                <!-- imported from csv -->
                <div class="input-box">

                    <select name="Product code" class="form-control" formControlName="State" (ngModelChange)="CalledNew($event,'Work_State')"
                     name="State" required
                        style="width: 100%;" [ngClass]="
                    { 'is-invalid': form.get('State').touched && form.get('State').invalid}"
                      >
                      <option value="">----SELECT----</option>
                        <option value="{{item}}" *ngFor="let item of header">{{item}}</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="form.get('State').touched && form.get('State').invalid">
                        <div *ngIf="form.get('State').errors.required" style="font-size: 15px;"> This field is
                            required
                        </div>
                     
                    </div>
                </div>


                <div class="input-box">

                    <input type="text" style="color: black;" formControlName="Work_Zip"  disabled
                        name="Work_Zip">
                    <div class="invalid-feedback">
                        <div> This field is required</div>
                    </div>
                </div>


                <!-- imported from csv -->
                <div class="input-box">

                    <select name="Product code" class="form-control" formControlName="Zip" (ngModelChange)="CalledNew($event,'Work_Zip')"
                    name="Zip" required
                        style="width: 100%;" [ngClass]="
                    { 'is-invalid': form.get('Zip').touched && form.get('Zip').invalid}"
                      >
                      <option value="">----SELECT----</option>
                        <option value="{{item}}" *ngFor="let item of header">{{item}}</option>

                    </select>
                    <div class="invalid-feedback" *ngIf="form.get('Zip').touched && form.get('Zip').invalid">
                        <div *ngIf="form.get('Zip').errors.required" style="font-size: 15px;"> This field is
                            required
                        </div>
                     
                    </div>
                </div>

                <div class="input-box">

                    <input type="text" style="color: black;" formControlName="Worker_Comp_Code" disabled name="Worker_Comp_Code">
                   
                </div>

                <!-- imported from csv -->
                <div class="input-box">

                    <select name="Product code" class="form-control" formControlName="Comp_code" (ngModelChange)="CalledNew($event,'Worker_Comp_Code')"
                    name="Comp_code" 
                        required style="width: 100%;" [ngClass]="
                    { 'is-invalid': form.get('Comp_code').touched && form.get('Comp_code').invalid}"
                       >
                       <option value="">----SELECT----</option>
                        <option value="{{item}}" *ngFor="let item of header">{{item}}</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="form.get('Comp_code').touched && form.get('Comp_code').invalid">
                        <div *ngIf="form.get('Comp_code').errors.required" style="font-size: 15px;"> This field is
                            required
                        </div>
                       
                    </div>
                </div>

                <div class="input-box">

                    <input type="text" style="color: black;" formControlName="Invoice_Number" disabled  name="invoice">
                    <div class="invalid-feedback">
                        <div> This field is required</div>
                    </div>
                </div>


                <!-- imported from csv -->
                <div class="input-box">

                    <select name="Product code" class="form-control" formControlName="invoice_Number" (ngModelChange)="CalledNew($event,'Invoice_Number')"
                        name="invoice_Number" style="width: 100%;" [ngClass]="
                    { 'is-invalid': form.get('invoice_Number').touched && form.get('invoice_Number').invalid}"
                       >
                       <option value="">----SELECT----</option>
                        <option value="{{item}}" *ngFor="let item of header">{{item}}</option>



                    </select>
                    <div class="invalid-feedback"
                        *ngIf="form.get('invoice_Number').touched && form.get('invoice_Number').invalid">
                        <div *ngIf="form.get('invoice_Number').errors.required" style="font-size: 15px;"> This field is
                            required
                        </div>
                       
                    </div>
                </div>

                <div class="input-box">

                    <input type="text" style="color: black;" formControlName="ST_Pay_Rate" disabled name="ST_Pay_Rate">
                    <div class="invalid-feedback">
                        <div> This field is required</div>
                    </div>
                </div>

                <!-- imported from csv -->
                <div class="input-box">

                    <select class="form-control" formControlName="Pay_Rate" (ngModelChange)="CalledNew($event,'ST_Pay_Rate')" 
                        name="Pay_Rate" required [ngClass]="
                    { 'is-invalid': form.get('Pay_Rate').touched && form.get('Pay_Rate').invalid}" style="width: 100%;"
                       >

                       <option value="">----SELECT----</option>
                        <option value="{{item}}" *ngFor="let item of header">{{item}}</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="form.get('Pay_Rate').touched && form.get('Pay_Rate').invalid">
                        <div *ngIf="form.get('Pay_Rate').errors.required" style="font-size: 15px;"> This field is
                            required
                        </div>
                       
                    </div>
                </div>

                <div class="input-box">

                    <input type="text" style="color: black;" formControlName="Standard_Time_H"  disabled
                        name="Standard_Time_H">
                    <div class="invalid-feedback">
                        <div> This field is required</div>
                    </div>
                </div>


                <!-- imported from csv -->
                <div class="input-box">

                    <select name="Product code" class="form-control" formControlName="standard_Time" (ngModelChange)="CalledNew($event,'Standard_Time_H')"
                        name="standard_Time" required
                        style="width: 100%;" [ngClass]="
                    { 'is-invalid': form.get('standard_Time').touched && form.get('standard_Time').invalid}"
                      >
                      <option value="">----SELECT----</option>
                        <option value="{{item}}" *ngFor="let item of header">{{item}}</option>



                    </select>
                    <div class="invalid-feedback" *ngIf="form.get('standard_Time').touched && form.get('standard_Time').invalid">
                        <div *ngIf="form.get('standard_Time').errors.required" style="font-size: 15px;"> This field is
                            required
                        </div>
                     
                    </div>
                </div>

                <div class="input-box">

                    <input type="text" style="color: black;" formControlName="Over_Time_H"  disabled
                        name="Over_Time_H">
                    <div class="invalid-feedback">
                        <div> This field is required</div>
                    </div>
                </div>


                <!-- imported from csv -->
                <div class="input-box">

                    <select name="Product code" class="form-control" formControlName="OverTime" (ngModelChange)="CalledNew($event,'Over_Time_H')"
                        name="OverTime" required
                        style="width: 100%;" [ngClass]="
                    { 'is-invalid': form.get('OverTime').touched && form.get('OverTime').invalid}"
                      >
                      <option value="">----SELECT----</option>
                        <option value="{{item}}" *ngFor="let item of header">{{item}}</option>



                    </select>
                    <div class="invalid-feedback" *ngIf="form.get('OverTime').touched && form.get('OverTime').invalid">
                        <div *ngIf="form.get('OverTime').errors.required" style="font-size: 15px;"> This field is
                            required
                        </div>
                     
                    </div>
                </div>


               


                <div class="input-box">

                    <input type="text" style="color: black;" formControlName="Double_Time_H" disabled name="Double_Time_H">
                    <div class="invalid-feedback">
                        <div> This field is required</div>
                    </div>
                </div>


                <!-- imported from csv -->
                <div class="input-box">

                    <select class="form-control" formControlName="Double_time" (ngModelChange)="CalledNew($event,'Double_Time_H')"
                        name="Double_time" required [ngClass]="
                    { 'is-invalid': form.get('Double_time').touched && form.get('Double_time').invalid}" style="width: 100%;"
                  >

                  <option value="">----SELECT----</option>
                        <option value="{{item}}" *ngFor="let item of header">{{item}}</option>



                    </select>
                    <div class="invalid-feedback" *ngIf="form.get('Double_time').touched && form.get('Double_time').invalid">
                        <div *ngIf="form.get('Double_time').errors.required" style="font-size: 15px;"> This field is required
                        </div>
                        
                    </div>
                </div>

                <div class="input-box">

                    <input type="text" style="color: black;" formControlName="OT_Pay_Rate" disabled name="OT_Pay_Rate">
                    <div class="invalid-feedback">
                        <div> This field is required</div>
                    </div>
                </div>


                <!-- imported from csv -->
                <div class="input-box">

                    <select class="form-control" formControlName="ot_pay_rate" (ngModelChange)="CalledNew($event,'OT_Pay_Rate')"
                        name="ot_pay_rate" required [ngClass]="
                    { 'is-invalid': form.get('ot_pay_rate').touched && form.get('ot_pay_rate').invalid}" style="width: 100%;"
                  >

                  <option value="">----SELECT----</option>
                        <option value="{{item}}" *ngFor="let item of header">{{item}}</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="form.get('ot_pay_rate').touched && form.get('ot_pay_rate').invalid">
                        <div *ngIf="form.get('ot_pay_rate').errors.required" style="font-size: 15px;"> This field is required
                        </div>
                        
                    </div>
                </div>


                <div class="input-box">

                    <input type="text" style="color: black;" formControlName="Worker_Agency"  disabled name="Worker_Agency">
                    <div class="invalid-feedback">
                        <div> This field is required</div>
                    </div>
                </div>


                <!-- imported from csv -->


                <div class="input-box">

                    <select class="form-control" formControlName="worker_Agency" (ngModelChange)="CalledNew($event,'Worker_Agency')"
                        name="worker_Agency" required
                        [ngClass]="
                    { 'is-invalid': form.get('worker_Agency').touched && form.get('worker_Agency').invalid}"
                        style="width: 100%;" >

                        <option value="">----SELECT----</option>
                        <option value="{{item}}" *ngFor="let item of header">{{item}}</option>



                    </select>
                    <div class="invalid-feedback"
                        *ngIf="form.get('worker_Agency').touched && form.get('worker_Agency').invalid">
                        <div *ngIf="form.get('worker_Agency').errors.required" style="font-size: 15px;"> This field is
                            required
                        </div>
                      
                    </div>
                </div>




                <div class="input-box">

                    <input type="text" style="color: black;" formControlName="Markup_Percentage"  disabled
                        name="Markup_Percentage">
                    <div class="invalid-feedback">
                        <div> This field is required</div>
                    </div>
                </div>

                <!-- imported from csv -->

                <div class="input-box">

                    <select style="color: black;" formControlName="markup_Percentage" (ngModelChange)="CalledNew($event,'Markup_Percentage')"
                        class="form-control"
                        name="Markup_Percentage" style="width: 100%;" required
                        [ngClass]="
                        { 'is-invalid': form.get('markup_Percentage').touched && form.get('markup_Percentage').invalid}" >

                        <option value="">----SELECT----</option>
                        <option value="{{item}}" *ngFor="let item of header">{{item}}</option>
                    </select>
                    <div class="invalid-feedback"
                        *ngIf="form.get('markup_Percentage').touched && form.get('markup_Percentage').invalid">
                        <div *ngIf="form.get('markup_Percentage').errors.required" style="font-size: 15px;"> This field
                            is required
                        </div>
                    
                        
                    </div>
                </div>

                <div class="input-box">

                    <input type="text" style="color: black;" formControlName="Week_Start_Date"  disabled name="Week_Start_Date">
                    <div class="invalid-feedback">
                        <div> This field is required</div>
                    </div>
                </div>

                <!-- imported from csv -->
                <div class="input-box">

                    <select class="form-control" formControlName="Start_Date" (ngModelChange)="CalledNew($event,'Week_Start_Date')"
                        name="Start_Date" style="width: 100%;"
                        required [ngClass]="
                    { 'is-invalid': form.get('Start_Date').touched && form.get('Start_Date').invalid}"
                        >
                        <option value="">----SELECT----</option>
                        <option value="{{item}}" *ngFor="let item of header">{{item}}</option>
                    </select>
                    <div class="invalid-feedback"
                        *ngIf="form.get('Start_Date').touched && form.get('Start_Date').invalid">
                        <div *ngIf="form.get('Start_Date').errors.required" style="font-size: 15px;"> This field is
                            required
                        </div>
                        
                    </div>
                </div>

                <div class="input-box">

                    <input type="text" style="color: black;" formControlName="Project_End"  disabled 
                        name="Project_End">
                    
                </div>

                <!-- imported from csv -->
                <div class="input-box">

                    <select class="form-control" formControlName="project_End" (ngModelChange)="CalledNew($event,'Project_End')"
                        name="project_End" style="width: 100%;"
                        required [ngClass]="
                    { 'is-invalid': form.get('project_End').touched && form.get('project_End').invalid}"
                        >

                        <option value="">----SELECT----</option>
                        <option value="{{item}}" *ngFor="let item of header">{{item}}</option>


                    </select>
                    <div class="invalid-feedback"
                        *ngIf="form.get('project_End').touched && form.get('project_End').invalid">
                        <div *ngIf="form.get('project_End').errors.required" style="font-size: 15px;"> This field is
                            required
                        </div>
                      
                    </div>
                </div>

            </div>


        </div>

<!-- ffffff -->
<!-- <div class="equal" >

   


    <div class="input-box">
       
        <input type="text" style="color: black;" class="form-control" *ngFor="let item of array[0]; let i = index"  formControlName="worker_id"  disabled name="name">
      
    </div>


   
    <div class="tools">
    <div class="input-box">
       
        <select name="id" class="form-control" formControlName="id"  *ngFor="let item of lines[0]; let i = index"   style="width: 400px;" required [ngClass]="
        { 'is-invalid': form.get('id').touched && form.get('id').invalid}" >
            <option value="">----SELECT----</option>
            <option value="{{item}} " *ngFor="let item of header">{{item}}</option>
        </select>
        <div class="invalid-feedback" *ngIf="form.get('id').touched && form.get('id').invalid">
            <div *ngIf="form.get('id').errors.required" style="font-size: 15px;"> This field is required
            </div>
        </div>
    </div>
  </div>
   







</div> -->


        <!-- THIS FIELD IS NOT EDITABLE | GRAYED OUT -->

        <!-- End Calc of Total Number of Donors Fields -->
        <input type="button" data-page="2" name="previous" (click)="previous()" class="previous action-button"
            value="Previous" /> 
            <img *ngIf="isLoading" style="width : 24px;" class="mr-3"  src="../../../assets/icons8-spinner.gif" />
            <input type="button" data-page="2" name="next" class="next action-button"  *ngIf="show" (click)="submit()" value="Submit" />
        <input type="button" data-page="2" name="next" class="next action-button" *ngIf="!show" (click)="next()" value="Next" />
    
    </fieldset>



    <!-- Cultivation FIELD SET -->
    <fieldset *ngIf="step == 3" >
        <h2 class="fs-title">PayRoll</h2>
        <div class="">
            <!-- Begin Average Gift Size in Year 1 Field -->
            <div class="row justify-content-center">
                <div class="col-3"> <img src="https://i.imgur.com/GwStPmg.png" style="height: 200px;" class="fit-image">
                </div>
            </div>
            <!-- End Average Gift Size in Year 1 Field -->
            <!-- Begin Average Gift Size in Year 2 Field -->
            <div class="form-item webform-component webform-component-textfield hs_average_gift_size_in_year_2 field hs-form-field"
                id="webform-component-cultivation--amount-2">

                <label style="color: purple;" style="font-size: 40px; margin-right: 100px;">
                    Thank you For Uploading the Payroll Document  </label>
    <br>

  
                    
                <span class="error1" style="display: none;">
                    <i class="error-log fa fa-exclamation-triangle"></i>
                </span>
            </div>
            <!-- End Average Gift Size in Year 2 Field -->
        </div>
        <br>

        <!-- End Average Gift Size Perchent Change Field -->
        <!-- <input type="button" data-page="3" name="previous" class="previous action-button" value="Previous" /> -->
        <input type="button" data-page="3" name="" (click)="close()"  style="width: 250px; background-color: purple; color: white; margin-left: 400px;" value="Proceed To Dashboad" />
        <div class="explanation btn btn-small modal-trigger" data-modal-id="modal-3"></div>
    </fieldset>








</form>





