<div class="row">

    <div class="col-xl-3 col-lg-5">
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary"></h6>
            <div class="dropdown no-arrow">
              <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
              </a>
             
            </div>
          </div>
          <!-- Card Body -->
          <div class="card-body" style="height: 150px;">
           <form [formGroup]="form" >
       
                <div class="input-box mt-3  mb-4">
                    <span class="details">* Select Code</span>
                    <select class="form-control"  style="width: 300px;" formControlName="id" name="id" (change)="getList()">
                        <option value="" >----SELECT----</option>
                        <option value="" *ngFor="let n of AllDetails" >{{n.Worker_Unique_Id}}</option>
                        
            
            
                    </select>
           
                </div>

</form>
            
           
          </div>
        </div>
      </div>
    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7 ml-2">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">List </h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Dropdown Header:</div>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
         
           
            <div class="scroll"   >
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">Batch_Name</th>
                    <th scope="col">Worker_Unique_Id</th>
                    <th scope="col">Worker_Title</th>
                    <th scope="col">Worker_Name</th>
                    <th scope="col">Worker_Manager</th>
                    <th scope="col">Worker_Location</th>
                    <th scope="col">Worker_Department</th>
                    <th scope="col">Worker_Comp_Code</th>
                    <th scope="col">Worker_Agency</th>
                    <th scope="col">Work_City</th>
                    <th scope="col">Work_State</th>
                    <th scope="col">Work_Zip</th>
                    <th scope="col">Week_Start_Date</th>
                    <th scope="col">DT_Pay_Rate</th>
                    <th scope="col">Delivery_TAX</th>
                    <th scope="col">Double_Time_H</th>
                    <th scope="col">Double_Time_Total</th>
                    <th scope="col">EPLI_TAX</th>
                    <th scope="col">FEE_TAX</th>
                    <th scope="col">FICA_Med_TAX</th>
                    <th scope="col">FICA_TAX</th>
                    <th scope="col">FUI_Sol_TAX</th>
                    <th scope="col">FUI_TAX</th>
                    <th scope="col">Invoice_Number</th>
                    <th scope="col">Markup</th>
                    <th scope="col">Markup_percentage</th>
                    <th scope="col">OT_Pay_Rate</th>
                    <th scope="col">  Over_Time_Total  </th>
                    <th scope="col">  Project_End  </th>
                    <th scope="col"> ST_Pay_Rate   </th>
                    <th scope="col">  SUI_TAX  </th>
                    <th scope="col"> Sales_TAX   </th>
                    <th scope="col"> Saving   </th>
                    <th scope="col"> Staffing_Company_Cost   </th>
                    <th scope="col"> Standard_Time_H   </th>
                    <th scope="col">   Standard_Time_Total </th>
                    <th scope="col">  Total_COST  </th>
                    <th scope="col">  Total_PAY  </th>
                    <th scope="col">  Tech_TAX  </th>
                    <th scope="col">  WC_Admin_TAX  </th>
                    <th scope="col">  WC_TAX  </th>
                  
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor = " let list of Details">
                    <th> {{list.Batch_Name}}</th>
                    <th >{{list.Worker_Unique_Id}}</th>
                    <th >{{list.Worker_Title}}</th>
                    <th >{{list.Worker_Name}}</th>
                    <th >{{list.Worker_Manager}}</th>
                    <th >{{list.Worker_Location}}</th>
                    <th >{{list.Worker_Department}}</th>
                    <th >{{list.Worker_Comp_Code}}</th>
                    <th >{{list.Worker_Agency}}</th>
                    <th >{{list.Work_City}}</th>
                    <th >{{list.Work_State}}</th>
                    <th >{{list.Work_Zip}}</th>
                    <th >{{list.Week_Start_Date}}</th>
                    <th >{{list.DT_Pay_Rate}}</th>
                    <th >{{list.Delivery_TAX}}</th>
                    <th >{{list.Double_Time_H}}</th>
                    <th >{{list.Double_Time_Total}}</th>
                    <th >{{list.EPLI_TAX}}</th>
                    <th >{{list.FEE_TAX}}</th>
                    <th >{{list.FICA_Med_TAX}}</th>
                    <th >{{list.FICA_TAX}}</th>
                    <th >{{list.FUI_Sol_TAX}}</th>
                    <th >{{list.FUI_TAX}}</th>
                    <th >{{list.Invoice_Number}}</th>
                    <th >{{list.Markup}}</th>
                    <th >{{list.Markup_percentage}}</th>
                    <th >{{list.OT_Pay_Rate}}</th>
                    <th >  {{list.Over_Time_Total}}  </th>
                    <th >  {{list.Project_End}}  </th>
                    <th > {{list.ST_Pay_Rate}}   </th>
                    <th >  {{list.SUI_TAX}}  </th>
                    <th > {{list.Sales_TAX}}   </th>
                    <th > {{list.Saving}}   </th>
                    <th > {{list.Staffing_Company_Cost}}   </th>
                    <th > {{list.Standard_Time_H}}   </th>
                    <th >   {{list.Standard_Time_Total}} </th>
                    <th >  {{list.Total_COST}}  </th>
                    <th >  {{list.Total_PAY}}  </th>
                    <th >  {{list.Tech_TAX}}  </th>
                    <th >  {{list.WC_Admin_TAX}}  </th>
                    <th >  {{list.WC_TAX}}  </th>
                  </tr>
             
                </tbody>
              </table>
            </div>

        
        </div>
      </div>
    </div>
    <!-- Pie Chart -->
   
  </div>