<div class="equal">
    <div class="input-box mt-5 ml-5">
        <span class="details">* Batches</span>
        <select class="form-control" formControlName="Start_Date" name="Start_Date" style="width: 350px;">

            <option value="">----SELECT----</option>


        </select>

    </div>
    <div class="tools">
        <div class="container" (click)="GOtoForm()">

            <div class="pricing-table">
                <div class="icon type-01">
                    <span class="fa fa-file"></span>
                </div>
                <h3 class="heading">upload Data </h3>
                <h1 class="service-price">

                </h1>

            </div>
        </div>
    </div>
</div>