<h1 class="h3 mb-0 text-gray-800">Setting</h1>
<!-- <div class="wrapper">
<h1 class="h3 mb-0 text-gray-800">Setting</h1>
<br>
<div class="input-box ml-5 ">
    <span class="details">Select State</span>
    <select name="id" class="form-control select2  " style="width: 400px;"  >
        <option value="Alaska">Alaska </option>
        <option value=" Alabama"> Alabama</option>
        <option value="Arizona"> Arizona </option>
        <option value="Arkansas"> Arkansas</option>
        <option value="California ">California </option>
        <option value="Colorado ">Colorado </option>
        <option value="Connecticut ">Connecticut </option>
        <option value="D.C."> D.C.</option>
        <option value="Delaware">Delaware </option>
        <option value="Florida ">Florida </option>
        <option value="Georgia ">Georgia </option>
        <option value="Hawaii">Hawaii </option>
        <option value="Idaho"> Idaho</option>
        <option value="Illinois ">Illinois </option>
        <option value="Indiana"> Indiana</option>
        <option value="Iowa"> Iowa</option>
        <option value="Kansas ">Kansas </option>
        <option value=""> Kentucky </option>
        <option value="">Louisiana </option>
        <option value=""> Massachusets</option>
        <option value=""> Maryland</option>
        <option value=""> Michigan</option>
        <option value=""> Minnesota </option>
        <option value=""> Maine</option>
        <option value=""> Mississippi</option>
        <option value=""> Missouri</option>
        <option value=""> Montana</option>
        <option value=""> Nebraska</option>
        <option value=""> North Dakota</option>
        <option value=""> New Hampshire</option>
        <option value=""> Nevada</option>
        <option value=""> New Jersey</option>
    </select>
  
</div>
<br>


<div class="col-xl-8 col-lg-7 left"  >
    <div class="card shadow mb-4">
     
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary"></h6>
        <div class="dropdown no-arrow">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
            <div class="dropdown-header">Dropdown Header:</div>
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
   
      <div class="card-body" style="background-color: #eee;">

                <fieldset class="scheduler-border">
                    <div class="searchbox">
                    <legend class="scheduler-border" style="margin-left: 150px;">Percentage(%)</legend>
                    <legend class="scheduler-border" style="margin-right: 140px;">Capping/Limits($)</legend>
                    </div>
                    <form class="form-inline">
                      <div class="form-group">
                       <b> <label for="exampleInputName2">SUI</label></b>
                        <input type="number" class="input   form-control "formControlName="SUI" value="4.5"  style="width: 280px; margin-left: 90px; border-radius: 19px;" >
                      </div>
                      <div class="form-group">
                        
                        <input type="number" class="input form-control ml-4" formControlName="id"  value="6.5" style="width: 280px; border-radius: 19px;" >
                      </div>
                     
                    </form>
                </fieldset>
        
                <fieldset class="user-details">
                    <legend ></legend>
                    <div class="form-inline">
                      <div class="form-group">
                        <b>  <label for="exampleInputName2">FUI</label></b>
                        <input type="number" class="input form-control " formControlName="FUI" value="0.0"  style="width: 280px; margin-left: 90px; border-radius: 19px;" >
                      </div>
                      <div class="form-group">
                        <input type="number" class="input form-control ml-4" id="exampleInputName2" value="6.20" style="width: 280px; border-radius: 19px;" >
                      </div>
                     
                    </div>
                </fieldset>
        
        
                <fieldset class="user-details">
                    <legend ></legend>
                    <div class="form-inline">
                      <div class="form-group">
                        <b>  <label for="exampleInputName2">FICA</label></b>
                        <input type="number" class="input form-control " formControlName="FICA" value="0"  style="width: 280px; margin-left: 80px; border-radius: 19px;" >
                      </div>
                      <div class="form-group">
                        
                        <input type="number" class="input form-control ml-4" id="exampleInputName2" value="6.30" style="width: 280px; border-radius: 19px; " >
                      </div>
                     
                    </div>
                </fieldset>
        
                <fieldset class="user-details">
                    <legend ></legend>
                    <div class="form-inline">
                      <div class="form-group">
                        <b>  <label for="exampleInputName2">WC</label></b>
                        <input type="number" class="input form-control " formControlName="WC" value="0"  style="width: 280px; margin-left: 90px; border-radius: 19px;" >
                      </div>
                      <div class="form-group">
                        
                        <input type="number" class="input form-control ml-4" id="exampleInputName2" value="6.20" style="width: 280px; border-radius: 19px;">
                      </div>
                     
                    </div>
                </fieldset>
        
                <fieldset class="user-details">
                    <legend ></legend>
                    <div class="form-inline">
                      <div class="form-group">
                        <b>  <label for="exampleInputName2">WC Admin</label></b>
                        <input type="number" class="input form-control " formControlName="WC_Admin" value="1.50" style="width: 280px; margin-left: 36px; border-radius: 19px;">
                      </div>
                      <div class="form-group">
                        
                        <input type="number" class="input form-control ml-4" id="exampleInputName2"  value="6.20" style="width: 280px; margin-left: 90px; border-radius: 19px;" >
                      </div>
                     
                    </div>
                </fieldset>
        
        
                <fieldset class="user-details">
                    <legend ></legend>
                    <div class="form-inline">
                      <div class="form-group">
                        <b>  <label for="exampleInputName2">EPLI</label></b>
                        <input type="number" class="input form-control " formControlName="EPLI" value="1.00" style="width: 280px; margin-left: 85px; border-radius: 19px;">
                      </div>
                      <div class="form-group">
                        
                        <input type="number" class="input form-control ml-4" id="exampleInputName2" value="6.20" style="width: 280px; margin-left: 90px; border-radius: 19px;">
                      </div>
                     
                    </div>
                </fieldset>
        
        
                <fieldset class="user-details">
                    <legend ></legend>
                    <div class="form-inline">
                      <div class="form-group">
                        <b>  <label for="exampleInputName2">FEE</label></b>
                        <input type="number" class="input form-control " formControlName="FEE" value="3.00" style="width: 280px; margin-left: 90px; border-radius: 19px;" >
                      </div>
                      <div class="form-group">
                        
                        <input type="number" class="input form-control ml-4" id="exampleInputName2" value="6.20" style="width: 280px; margin-left: 90px; border-radius: 19px;" >
                      </div>
                     
                    </div>
                </fieldset>
        
                <fieldset class="user-details">
                    <legend ></legend>
                    <div class="form-inline">
                      <div class="form-group">
                        <b>  <label for="exampleInputName2">Tech</label></b>
                        <input type="number" class="input form-control " formControlName="Tech" value="2.0" style="width: 280px; margin-left: 83px; border-radius: 19px;" >
                      </div>
                      <div class="form-group">
                        
                        <input type="number" class="input form-control ml-4" id="exampleInputName2" value="6.20" style="width: 280px; border-radius: 19px; " >
                      </div>
                     
                    </div>
                </fieldset>
        
        
                <fieldset class="user-details">
                    <legend ></legend>
                    <div class="form-inline">
                      <div class="form-group">
                        <b>  <label for="exampleInputName2">Delivery</label></b>
                        <input type="number" class="input form-control "  formControlName="Delivery" value="1.0" style="width: 280px; margin-left: 55px; border-radius: 19px;" >
                      </div>
                      <div class="form-group">
                        
                        <input type="number" class="input form-control ml-4" id="exampleInputName2" value="6.20" style="width: 280px; border-radius: 19px; " >
                      </div>
                     
                    </div>
                </fieldset>
       
      </div>
    </div>
  </div>

  </div> -->








  <div class="card card-primary card-outline">
  
    <div class="card-body">
      
      <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="custom-content-below-home-tab" data-toggle="pill" href="#custom-content-below-home" role="tab" aria-controls="custom-content-below-home" aria-selected="true">Select State Wise</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="custom-content-below-profile-tab" data-toggle="pill" href="#custom-content-below-profile" role="tab" aria-controls="custom-content-below-profile" aria-selected="false">Bulk Upload</a>
        </li>
       
       
      </ul>
      <div class="tab-content" id="custom-content-below-tabContent">
        <div class="tab-pane fade show active" id="custom-content-below-home" role="tabpanel" aria-labelledby="custom-content-below-home-tab">
          

          <div class="wrapper">
           
            <br>
            <div class="input-box ml-5 ">
                <span class="details">Select State</span>
                <select name="id" class="form-control select2  " style="width: 400px;"  >
                    <option value="Alaska">Alaska </option>
                    <option value=" Alabama"> Alabama</option>
                    <option value="Arizona"> Arizona </option>
                    <option value="Arkansas"> Arkansas</option>
                    <option value="California ">California </option>
                    <option value="Colorado ">Colorado </option>
                    <option value="Connecticut ">Connecticut </option>
                    <option value="D.C."> D.C.</option>
                    <option value="Delaware">Delaware </option>
                    <option value="Florida ">Florida </option>
                    <option value="Georgia ">Georgia </option>
                    <option value="Hawaii">Hawaii </option>
                    <option value="Idaho"> Idaho</option>
                    <option value="Illinois ">Illinois </option>
                    <option value="Indiana"> Indiana</option>
                    <option value="Iowa"> Iowa</option>
                    <option value="Kansas ">Kansas </option>
                    <option value=""> Kentucky </option>
                    <option value="">Louisiana </option>
                    <option value=""> Massachusets</option>
                    <option value=""> Maryland</option>
                    <option value=""> Michigan</option>
                    <option value=""> Minnesota </option>
                    <option value=""> Maine</option>
                    <option value=""> Mississippi</option>
                    <option value=""> Missouri</option>
                    <option value=""> Montana</option>
                    <option value=""> Nebraska</option>
                    <option value=""> North Dakota</option>
                    <option value=""> New Hampshire</option>
                    <option value=""> Nevada</option>
                    <option value=""> New Jersey</option>
                </select>
              
            </div>
            <br>
            
            
            <div class="col-xl-8 col-lg-7 left"  >
                <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary"></h6>
                    <div class="dropdown no-arrow">
                      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </div>
                  </div>
                  <!-- Card Body -->
                  <div class="card-body" style="background-color: #eee;">
                    <form [formGroup]="form">
                            <fieldset class="scheduler-border">
                                <div class="searchbox">
                                <legend class="scheduler-border" style="margin-left: 150px;">Percentage(%)</legend>
                                <legend class="scheduler-border" style="margin-right: 1px;">Capping/Limits($)</legend>
                                </div>
                                <div class="form-inline">
                                  <div class="form-group">
                                   <b> <label for="exampleInputName2">SUI</label></b>
                                    <input type="number" class="input   form-control "formControlName="SUI" value="4.5"  style="width: 280px; margin-left: 90px; border-radius: 19px;" >
                                  </div>
                                  <div class="form-group">
                                    
                                    <input type="number" class="input form-control ml-4"   value="6.5" style="width: 280px; border-radius: 19px;" >
                                  </div>
                                 </div>
                               
                            </fieldset>
                    
                            <fieldset class="user-details">
                                <legend ></legend>
                                <div class="form-inline">
                                  <div class="form-group">
                                    <b>  <label for="exampleInputName2">FUI</label></b>
                                    <input type="number" class="input form-control " formControlName="FUI" value="0.0"  style="width: 280px; margin-left: 90px; border-radius: 19px;" >
                                  </div>
                                  <div class="form-group">
                                    <input type="number" class="input form-control ml-4"  value="6.20" style="width: 280px; border-radius: 19px;" >
                                  </div>
                                 
                                </div>
                            </fieldset>
                    
                    
                            <fieldset class="user-details">
                                <legend ></legend>
                                <div class="form-inline">
                                  <div class="form-group">
                                    <b>  <label for="exampleInputName2">FICA</label></b>
                                    <input type="number" class="input form-control " formControlName="FICA" value="0"  style="width: 280px; margin-left: 80px; border-radius: 19px;" >
                                  </div>
                                  <div class="form-group">
                                    
                                    <input type="number" class="input form-control ml-4"  value="6.30" style="width: 280px; border-radius: 19px; " >
                                  </div>
                                 
                                </div>
                            </fieldset>
                    
                            <fieldset class="user-details">
                                <legend ></legend>
                                <div class="form-inline">
                                  <div class="form-group">
                                    <b>  <label for="exampleInputName2">WC</label></b>
                                    <input type="number" class="input form-control " formControlName="WC" value="0"  style="width: 280px; margin-left: 90px; border-radius: 19px;" >
                                  </div>
                                  <div class="form-group">
                                    
                                    <input type="number" class="input form-control ml-4"  value="6.20" style="width: 280px; border-radius: 19px;">
                                  </div>
                                 
                                </div>
                            </fieldset>
                    
                            <fieldset class="user-details">
                                <legend ></legend>
                                <div class="form-inline">
                                  <div class="form-group">
                                    <b>  <label for="exampleInputName2">WC Admin</label></b>
                                    <input type="number" class="input form-control " formControlName="WC_Admin" value="1.50" style="width: 280px; margin-left: 36px; border-radius: 19px;">
                                  </div>
                                  <div class="form-group">
                                    
                                    <input type="number" class="input form-control ml-4"   value="6.20" style="width: 280px; margin-left: 90px; border-radius: 19px;" >
                                  </div>
                                 
                                </div>
                            </fieldset>
                    
                    
                            <fieldset class="user-details">
                                <legend ></legend>
                                <div class="form-inline">
                                  <div class="form-group">
                                    <b>  <label for="exampleInputName2">EPLI</label></b>
                                    <input type="number" class="input form-control " formControlName="EPLI" value="1.00" style="width: 280px; margin-left: 85px; border-radius: 19px;">
                                  </div>
                                  <div class="form-group">
                                    
                                    <input type="number" class="input form-control ml-4"  value="6.20" style="width: 280px; margin-left: 90px; border-radius: 19px;">
                                  </div>
                                 
                                </div>
                            </fieldset>
                    
                    
                            <fieldset class="user-details">
                                <legend ></legend>
                                <div class="form-inline">
                                  <div class="form-group">
                                    <b>  <label for="exampleInputName2">FEE</label></b>
                                    <input type="number" class="input form-control " formControlName="FEE" value="3.00" style="width: 280px; margin-left: 90px; border-radius: 19px;" >
                                  </div>
                                  <div class="form-group">
                                    
                                    <input type="number" class="input form-control ml-4"  value="6.20" style="width: 280px; margin-left: 90px; border-radius: 19px;" >
                                  </div>
                                 
                                </div>
                            </fieldset>
                    
                            <fieldset class="user-details">
                                <legend ></legend>
                                <div class="form-inline">
                                  <div class="form-group">
                                    <b>  <label for="exampleInputName2">Tech</label></b>
                                    <input type="number" class="input form-control " formControlName="Tech" value="2.0" style="width: 280px; margin-left: 83px; border-radius: 19px;" >
                                  </div>
                                  <div class="form-group">
                                    
                                    <input type="number" class="input form-control ml-4"  value="6.20" style="width: 280px; border-radius: 19px; " >
                                  </div>
                                 
                                </div>
                            </fieldset>
                    
                    
                            <fieldset class="user-details">
                                <legend ></legend>
                                <div class="form-inline">
                                  <div class="form-group">
                                    <b>  <label for="exampleInputName2">Delivery</label></b>
                                    <input type="number" class="input form-control "  formControlName="Delivery" value="1.0" style="width: 280px; margin-left: 55px; border-radius: 19px;" >
                                  </div>
                                  <div class="form-group">
                                    
                                    <input type="number" class="input form-control ml-4" value="6.20" style="width: 280px; border-radius: 19px; " >
                                  </div>
                                 
                                </div>
                            </fieldset>
                   </form>
                  </div>
                </div>
              </div>
            
              </div>
            



        </div>
        <div class="tab-pane fade" id="custom-content-below-profile" role="tabpanel" aria-labelledby="custom-content-below-profile-tab">
          <br>
         
          <!-- <ngx-dropzone (change)="onSelect($event)" style="width: 600px;">
            <ngx-dropzone-label>Drag and Drop!</ngx-dropzone-label>
            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" [multiple]="false"
                (removed)="onRemove(f)" accept="image/csv">
                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-preview>
        </ngx-dropzone>  -->

   <input name="file" required  type="file"  value="" (change)="changeListener($event.target.files)"
                placeholder=""  data-rule-required="true"
                data-msg-required="Please include your first name">
            <span class="error1" style="display: none;">
                <i class="error-log fa fa-exclamation-triangle"></i>
            </span> 



<br><br>
<div class="scroll"   >
            <table class="table">
              <thead>
                <tr>
              
                  <th scope="col">State</th>
                  <th scope="col">SUI_cap</th>
                  <th scope="col">SUI%</th>
                  <th scope="col">FICA cap</th>
                  <th scope="col">FICA %</th>
                  <th scope="col">FICA_Med_cap</th>
                  <th scope="col">FICA_Med%  </th>
                  <th scope="col"> FUI_Cap</th>
                  <th scope="col">FUI%</th>
                  <th scope="col">FUI_Sol_cap</th>
                  <th scope="col">FUI_Sol_%</th>
                  <th scope="col">WC_cap</th>
                  <th scope="col">WC% </th>
                  <th scope="col">WC_Admin_Cap </th>
                  <th scope="col">WC_Admin%</th>
                  <th scope="col">Sales_Tax_cap</th>
                  <th scope="col">Sales_Tax%</th>
                  <th scope="col">EPLI_cap</th>
                  <th scope="col">EPLI_%</th>
                  <th scope="col">Tech_cap</th>
                  <th scope="col">Tech%</th>
                  <th scope="col">Delivery_cap</th>
                  <th scope="col">Delivery%</th>
                </tr>
              </thead>
              <tbody>
                <tr >
                  <td *ngFor="let itemm of lines[0]; let j = index">{{item[j]}}</td>

              </tr>
                  <!-- <td>   </td>
                  <td>   </td>
                  <td>   </td>
                  <td>   </td>
                  <td>   </td>
                  <td>   </td>
                  <td>   </td>
                  <td>   </td>
                  <td>   </td>
                  <td>   </td>
                  <td>   </td>
                  <td>   </td>
                  <td>   </td>
                  <td>   </td>
                  <td>   </td>
                 
                </tr>
              -->
           
              </tbody>
            </table>
          </div>
        </div>
     
      </div>