


  .left{
      margin-left: 200px;
  }

  

  hr.style1{
    border-top: 2px solid #8c8b8b;
  }

  .searchbox{
    display: flex;
    direction: row;
    
  
    
  }

  .drop{
    display: flex;
    margin: auto;
    flex-direction: row;
    margin-left: 5px;
}

.option{
  margin-left: 4px;
}



/* form table css */




.scroll{
 
  overflow-x: auto;
  height: 450px;
}


.table tr{
  text-align: center;
}






.tableFixHead 
{ overflow: auto;
   height: 100px;
 }


.tableFixHead th { 
 
  position: sticky;
  
   top: 0;
    z-index:10;
   }

/* Just common table stuff. Really. */
table 
 { border-collapse: collapse;
   
 }
th, td { 
  padding: 5px;

  
}
th    
 { background:#eee; 
 
}