


  .left{
      margin-left: 200px;
  }

  

  hr.style1{
    border-top: 2px solid #8c8b8b;
  }

  .searchbox{
    display: flex;
    direction: row;
    
  
    
  }

  .drop{
    display: flex;
    margin: auto;
    flex-direction: row;
    margin-left: 5px;
}

.option{
  margin-left: 4px;
}



/* form table css */
*{
	box-sizing: border-box;
}



.scroll{
 
  overflow-y: auto;
  height: 450px;
}


.table tr{
  text-align: center;
}






.tableFixHead 
{ overflow: auto;
   height: 100px;
 }

.tableFixHead thead th { 
  position: sticky;
   top: 0; z-index: 1;
   }

/* Just common table stuff. Really. */
table 
 { border-collapse: collapse; width: 100%;
 }
th, td { 
  padding: 8px 16px; 
}
th    
 { background:#eee; 
}