.container{
    max-width: 860px;
    width: 100%;
    background-color: #fff;
  
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  .container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
  }
  .container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }
  .content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
  }
  form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }
  form .input-box span.details{
    display: block;
    font-weight: 500;
  
    margin-bottom: 5px;
  }
  .input{
    height: 45px;
    width: 100%;
    outline: none;
    
    font-size: 16px;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }


  .left{
      margin-left: 200px;
  }
  .user-details .input-box input:focus,
  .user-details .input-box input:valid{
    border-color: #9b59b6;
  }
   form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
   }
   form .category{
     display: flex;
     width: 80%;
     margin: 14px 0 ;
     justify-content: space-between;
   }
   form .category label{
     display: flex;
     align-items: center;
     cursor: pointer;
   }
   form .category label .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }
   #dot-1:checked ~ .category label .one,
   #dot-2:checked ~ .category label .two,
   #dot-3:checked ~ .category label .three{
     background: #9b59b6;
     border-color: #d9d9d9;
   }
   form input[type="radio"]{
     display: none;
   }
   form .button{
     height: 45px;
     width: 100px;
     margin: 35px 0
   }
   form .button input{
     height: 100%;
     width: 100%;
     border-radius: 5px;
     border: none;
     color: #fff;
     font-size: 18px;
     font-weight: 500;
     letter-spacing: 1px;
     cursor: pointer;
     transition: all 0.3s ease;
     background: linear-gradient(135deg, #71b7e6, #9b59b6);
   }
   form .button input:hover{
    /* transform: scale(0.99); */
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
    }
   @media(max-width: 584px){
   .container{
    max-width: 100%;
  }
  form .user-details .input-box{
      margin-bottom: 15px;
      width: 100%;
    }
    form .category{
      width: 100%;
    }
    .content form .user-details{
      max-height: 300px;
      overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
      width: 5px;
    }
    }
    @media(max-width: 459px){
    .container .content .category{
      flex-direction: column;
    }
  }
  

  hr.style1{
    border-top: 2px solid #8c8b8b;
  }

  .searchbox{
    display: flex;
    direction: row;
    
  
    
  }

  .drop{
    display: flex;
    margin: auto;
    flex-direction: row;
    margin-left: 5px;
}

.option{
  margin-left: 4px;
}



/* form table css */
*{
	box-sizing: border-box;
}

.table{
  width: 100%;

	border-collapse: collapse;
}

.scroll{
  overflow-x: auto;
  overflow-y: auto;
  height: 450px;
}

.table td,.table th{
	font-family: 'Noto Sans JP', sans-serif;
  padding:12px 15px;
  border:2px solid black;
  text-align: center;
  font-size:15px;
}
.tbody{
  height: 300px;
}

.table th{
	background-color:white;
	color:black;
}

.table tbody tr:nth-child(even){
	background-color: #f5f5f5;
}



.scroll{
  overflow-x: auto;
  overflow-y: auto;
  height: 450px;
}


.csv-file-chooser-section {
  padding: 10px;
  margin: 5%;
  border: 1px solid;
  text-align: center;
}

.csv-result-table {
  margin: 5%;
  border: 1px solid #73AD21;

}

table, th, td {
  border: 1px solid black;
}


/* state box Css */

/* .field{
  width: 280px;
   margin-left: 130px;
   
border-radius: 19px;
}

.field1{
  width: 280px;
   border-radius: 19px;
} */