<!-- <h1 class="h3 mb-0 text-gray-800 ml-5">Setting</h1> -->

<br>
<br>
<br>
<div class="col-md-11 mt-2">
  <div class="card card-primary  card-outline ml-5">
  
    <div class="card-body">
      
      <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
        <li class="nav-item">
         
        </li>
     
        <li class="nav-item">
          <a class="nav-link active" id="custom-content-below-profile-tab" data-toggle="pill" href="#custom-content-below-require" role="tab" aria-controls="custom-content-below-require" aria-selected="false">Benefits</a>
        </li>
       
       
      </ul>
      <div class="tab-content" id="custom-content-below-tabContent">
        <div class="tab-pane fade show active" id="custom-content-below-home" role="tabpanel" aria-labelledby="custom-content-below-home-tab">
          

            
          <div class="container">

            <h4 >Select Benefits Requried by Client</h4>
            <div class="content">
              <form [formGroup]="Myform">
                <div class="user-details">
  
  
  
  <div class="space">
                  <div class="input-box">
                    <span class="details">* PPO</span>
                    <input type="text"  required name="PPO" formControlName="PPO" >
                 
                  </div>
                  <div class="input-box ml-3">
                    <span class="details">* Vision</span>
                    <input type="text"  required name="Vision" formControlName="Vision" >
                    
                  </div>

                  <div class="input-box ml-3">
                    <span class="details">* Holiday</span>
                    <input type="text" required name="Holiday" formControlName="Holiday" >
                    
                  </div>
  </div>

    
  <div class="space">
    <div class="input-box">
      <span class="details">* HMO</span>
      <input type="text"  required name="HMO" formControlName="HMO" >
   
    </div>
    <div class="input-box ml-3">
      <span class="details">* Sick leave</span>
      <input type="text"  required name="Sick_leave" formControlName="Sick_leave" >
      
    </div>

    <div class="input-box ml-3">
      <span class="details">* Vacation</span>
      <input type="text"  required name="Vacation" formControlName="Vacation" >
      
    </div>
</div>
  
            
           
  
    
<div class="space">
  <div class="input-box">
    <span class="details">* Dental</span>
    <input type="text"  required name="Dental" formControlName="Dental" >
 
  </div>
  <div class="input-box ml-3">
    <span class="details">* 401K</span>
    <input type="text"  required name="FourK" formControlName="FourK" >
    
  </div>

  <div class="input-box ml-3">
    <span class="details">* Bonus</span>
    <input type="text" required name="Bonus" formControlName="Bonus" >
    
  </div>
</div>
  
                  <div class="button">
                  <button type="submit" class="btn btn-primary" (click)="Require()" >Submit</button>
                  </div>
  
                </div>
              </form>
            </div>
          </div>


        </div>
       
        <div class="tab-pane fade" id="custom-content-below-require" role="tabpanel" aria-labelledby="custom-content-below-require-tab">
  

        

</div>
        
      </div>
</div>
</div>
</div>






  


