


<div class="col-xl-12 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="equal">
            <div class="input-box mt-3 ml-5 mb-4">
              <form  [formGroup]="form">
                <span class="details">* Select Batch</span>
                <select class="form-control"  style="width: 350px;" formControlName="id" name="id"  (change)="ShowName">
                    
                    <option value="{{Detail}}"   *ngFor="let Detail of Details">{{Detail}}</option>
                    
        
        
                </select>
       </form>
            </div>

            <button class="btn bt ml-4 mt-4" style="width: 110px; height: 50px; ;" > Save</button>
            

            <div class="tools">
        
            
                <div class="container mb-5" (click)="GOtoForm()">
        
                    <div class="pricing-table">
                        
                        <h3 class="heading" >upload Data </h3>
                        
        
                       
        
                    </div>
              </div> 
            </div> 
        </div>
      </div>
    </div>
  </div>





